@model HotelWepApp2.ViewModel.ChefViewModel

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
    <tr>
        <th>
            Date (ignore time stamp):
        </th>
        <th>
            Expected people:
        </th>
        <th>
            Expected Adults:
        </th>
        <th>
            Expected Kids:
        </th>
        <th>
            Adults checked in:
        </th>
        <th>
            Kids checked in:
        </th>
        <th>
            Check in's:
        </th>
        <th>
            Not yet checked in:
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.GuestCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.AdultCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.KidCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.AdultCheckInCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.KidCheckInCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.CheckInCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.NotCheckInCount)
            </td>
            
        </tr>
    
    </tbody>
</table>

<div>
    <form asp-action="KitchenInformation">
        <input type="submit" style="display: block;width: 100%;border: none;background-color: lightblue;color: black;padding: 14px 28px;font-size: 16px;cursor: pointer;text-align: center;" value="Update Page" />
    </form>
</div>
